* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* Selettori Css Tag *******/

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/******* Selettori classi *******/

.main-content {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #141922;
    flex-direction: row;
}

/* Sezione playbar*/

.music-navbar {
    height: 80px;
    width: 100%;
    background-color: #282828;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.playbar-song {
    flex-grow: 1;
}

.title-song {
    flex-direction: row;
    padding: 15px 5px;
}

.title-song-image {
   width: 50px;
}

.title-song-image img {
    width: 100%;
}

.title-song-info {
    padding: 10px 15px;
}

.title-song-info p:first-child {
    font-size: 14px;
}

.title-song-info p:nth-child(2) {
    color: #a3a3a3;
    font-size: 12px;
}

.title-song-icons {
    padding-left: 30px;
    padding-top: 20px;
}

.title-song-icons i:nth-child(2) {
    padding-left: 10px;
}

.playbar-song {
    align-items: center;
    flex-direction: column;
}

.playbar-song-interface {
    padding: 10px 0px;
    height: 50px;
}

.playbar-song-icons {
    padding: 0 35px;
}

.playbar-song-icons i {
    font-size: 30px;
    padding: 0 20px;
}

.playbar-song-bar {
    height: 20px;
    flex-direction: row;
    justify-content: center;
}

.playbar-song-bar > div:nth-child(odd) {
    color: #c1c1c1;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.playbar-song-bar > div:nth-child(2) {
    height: 5px;
    padding: 0 180px;
    background-color: #5a5a5a;
    margin-top: 6px;
    border-radius: 25px;
    position: relative;
}

.playbar-grey {
    width: 75px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 25px;
    position: absolute;
    left: 0;
}

.volume-song {
    flex-direction: row;
    align-items: center;
}

.volume-song i {
    padding: 0 10px;
}

.last-playbar {
    height: 5px;
    width: 85px;
    background-color: #5a5a5a;
    border-radius: 25px;
    position: relative;
    margin-right: 15px;
}

.last-progress-playbar {
    width: 35px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 25px;
    position: absolute;
    left: 0;
}

/* Sezione main content*/

.main-content-albums {
    width: auto;
    flex-grow: 1;
    height: 100%;
}

.main-content-albums-upgrade {
    height: 80px;
    min-width: 100%;
    background-color: #080B12;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.main-content-albums-upgrade a {
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 13px;
    color: white;
}

.main-content-albums-navbar {
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content-albums-navbar li {
    list-style: none;
}

.main-content-albums-navbar a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

/* Sezione sidebar*/

.main-content-sidebar {
    width: 250px;
    height: 100%;
    background-color: #000000;
    flex-direction: column;
    justify-content: space-between;
}

.main-content-sidebar-top {
    flex-direction: column;
    flex: 0 0 auto;
}

.sidebar-logo img {
    width: 70%;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 10px;

}

.sidebar-item p {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
    font-size: 14px;
}

.sidebar-item img {
    width: 20%;
    padding-left: 10px;
    padding-bottom: 10px;
}


.main-content-sidebar-middle {
    flex: 1 1 auto;
    overflow: auto;
    flex-direction: column;
}


.playlist-title p {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
}


.playlist-button {
    padding-left: 15px;
    padding-top: 10px;
}

.playlist-button a {
    text-decoration: none;
    color: #878787;
    padding-top: 15px;
    padding-left: 10px;
    align-items: center;
}

.playlist-button i {
    font-size: 55px;
    color: #a3a3a3;
}

.playlist-list li {
    list-style: none;
    padding: 10px 0px;
}

.playlist-list a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 14px;
    padding: 10px 15px;
}

.main-content-sidebar-bottom {
    flex: 0 0 50px;
    flex-direction: column;
}

.sidebar-install {
    border-bottom: 1px solid #a3a3a3;
}

.sidebar-install img {
    width: 15%;
    padding-left: 10px;
}

.sidebar-install a {
    padding: 10px 10px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 14px;
}

.sidebar-account img {
    width: 25%;
    padding: 10px 15px;
}

.sidebar-account a {
    text-decoration: none;
    padding-top: 20px;
    color: white;
}


/******* Utilities *******/

.flex {
    display: flex;
}

.none {
    display: none;
}

/******* Mediaquery *******/

@media screen and (max-width: 834px) {



}

@media screen and (max-width: 768px) {



}

@media screen and (max-width: 412px) {

    /* Sidebar */

    .main-content-sidebar {
        width: 50px;
        height: 100%;
    }

    .sidebar-logo img {
        background-image: url(../img/favicon.ico);
    }

    .sidebar-item p {
        display: none;
    }

    .main-content-sidebar-middle {
        display: none;
    }

    .sidebar-install a {
        display: none;
    }

    .sidebar-account a {
        display: none;
    }

    .sidebar-install img {
        width: 25%;
        padding: 10px 15px;
    }

}




